<div class="row">
  <div class="col-md">
    <p>Welcome to Mocha Bot.</p>
    <p>As a user, you can <a href="/user/add">sign up</a> to participate in random coffee draws.</p>
    <p>As an administrator, you can <a href="/admin">carry out the draw or delete users</a>.</p>
  </div>
</div>
